
.header {
    background-color: #61AEE1;
    color: white;
    font-weight: bold;
    min-height: 100px;
    height: 100px;
    padding: 10px;
    margin-bottom: 20px;
}

.content {
    padding: 20px;
}

.search {
    width: 60%;
    padding: 3px;
}

.text {
    font-size: 16px;
    color: gray;
}

.center-text {
    font-size: 16px;
    color: gray;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.go-button {
    margin-top: 5px;
}

.results {
  padding: 20px;
}

.error {
    color: red;
}

.loading {
    margin-left: 40%;
    margin-top: 5%;
    text-align: center;
}